<app-sidenav></app-sidenav>
<div class="container-sport100">
    <div class="page-content p-12 align-items-center" id="content">
        <!--<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
        class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">MENU</small></button>-->
        <div class="container ">
            <h1 style="text-align: center;">VER ENTRENADOR </h1>
            <div class=" row ">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Buscar por nombre o codigo..."
                        [(ngModel)]="this.entrada" required>
                    <br>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success" (click)="getBuscar()">Cargar</button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-light" (click)="limpiarBusqueda()">Limpiar</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class=" tabla  ">
                <div class="col-sm-12 align-items-center">
                    <table class="table table-responsive table table-sm ">
                        <thead class="thead-dark">
                            <tr>
                                <th>CÓDIGO</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>DIRECCIÓN</th>
                                <th>TELÉFONO</th>
                                <th>CORREO</th>
                                <th>ESTADO</th>
                                <th>SALARIO</th>
                                <th>FECHA CONTRATACIÓN</th>
                                <th>CATEGORIA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of model">
                                <td>{{i.ID_ENTRENADOR}}</td>
                                <td>{{i.NOMBRE}} </td>
                                <td>{{i.APELLIDO}} </td>
                                <td>{{i.DIRECCION}} </td>
                                <td>{{i.TELEFONO}} </td>
                                <td>{{i.CORREO}} </td>
                                <td>{{i.ESTADO}} </td>
                                <td>{{i.SALARIO}} </td>
                                <td>{{i.FECHA_CONTRATACION}} </td>
                                <td>
                                    <button type="submit" class="btn btn btn-light " (click)="mostrarInfo(i)">
                                        <i class="icon fas fa-sitemap mr-3 fa-fw"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <ng-template #myModalInfo let-modal>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Categorías</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" style="text-align: justify; font-size: 1.2em">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="formGroupExampleInput">Código: </label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" type="text" class="form-control" id="nombre"
                                        [(ngModel)]="this.infoEntrenador.ID_ENTRENADOR" name="codigo" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="formGroupExampleInput2">Nombre: </label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" type="text" class="form-control" id="nombre"
                                        [(ngModel)]="this.infoEntrenador.NOMBRE" name="nombre" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="formGroupExampleInput2">Apellido: </label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" type="text" class="form-control" id="nombre"
                                        [(ngModel)]="this.infoEntrenador.APELLIDO" name="apellido" disabled>
                                </div>
                            </div>
                            <br>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID CATEGORÍA</th>
                                        <th>NOMBRE</th>
                                        <th>DEPORTE</th>
                                        <th>ALUMNOS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of infoEntrenador.categorias">
                                        <td>{{i.ID_CATEGORIA}}</td>
                                        <td>{{i.NOMBRE_CATEGORIA}}</td>
                                        <td>{{i.deporte}}</td>
                                        <td>
                                            <button type="submit" class="btn btn btn-light "
                                                (click)="mostrarEstudiantes(i)">
                                                <i class="icon fas fa-users mr-3 fa-fw"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #myModalEstudiantes let-modal>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listado Estudiantes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" style="text-align: justify; font-size: 1.2em">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="formGroupExampleInput">Código: </label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" type="text" class="form-control" id="nombre"
                                        [(ngModel)]="this.infoCategoria.ID_CATEGORIA" name="codigo" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="formGroupExampleInput2">Categoria: </label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" type="text" class="form-control" id="nombre"
                                        [(ngModel)]="this.infoCategoria.NOMBRE_CATEGORIA" name="nombre" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="formGroupExampleInput2">Deporte: </label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" type="text" class="form-control" id="nombre"
                                        [(ngModel)]="this.infoCategoria.deporte" name="apellido" disabled>
                                </div>
                            </div>
                            <br>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>CÓDIGO</th>
                                        <th>NOMBRE</th>
                                        <th>APELLIDO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of infoCategoria.alumnos">
                                        <td>{{i.ID_ALUMNO}}</td>
                                        <td>{{i.NOMBRE}}</td>
                                        <td>{{i.APELLIDO}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>