<div>
    <a href="#" class="sidenav-trigger" data-target="side-menu">
        <i class="material-icons">menu</i>
    </a>

    <ul id="side-menu" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img class="responsive-img" src="../../img/ejem.jpg">
          </div>
          <img class="responsive-img" src="../../img/ejem.jpg">
          <span class="white-text name">John Lenon</span>
          <span class="white-text email">lenonk@gmail.com</span>
        </div></li>
        <li><a href="#!" routerLink="/actividadesList"><i class="material-icons">cloud</i>Lista Actividades</a></li>
        <li><a href="#!" routerLink="/users">Informe Estudiantes</a></li>
        <li><div class="divider"></div></li>
        <!--<li><a class="subheader">Subheader</a></li>-->
        <li><a class="waves-effect" href="#!">Informe Pagos mensuales </a></li>
      </ul>
      
</div> 